html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #fadce9;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500pt;
    margin-inline: auto;
}

form {
    display: grid;
    width: 80%;
    margin-inline: auto;
    grid-template-columns: 2fr 1fr;
}

.error {
    display: none;
    text-align: center;
    color: red;
}

article {
    position: relative;
    margin-block: 10px;
    margin-inline: auto;
    padding: 8%;
    padding-top: 6%;

    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;

    width: 70%;
    height: 50vw;
    max-height: 245pt;

    background-image: url(https://64.media.tumblr.com/bf0228da629d47c3fadf6650158d2bff/1d6bf781cde32812-0c/s1280x1920/9d6810a21bb3a92e9e28d2db89a55ad571294e21.gifv);
}

article p {
    margin: 0;
    font-size: 3.6vw;
    overflow-wrap: break-word;
}

.date {
    font-size: 2.4vw;
    position: absolute;
    bottom: 12%;
    right: 12%;
}

.author {
    position: absolute;
    width: 29vw;
    right: 10%;
    bottom: 20%;
}

.readbox {
    position: absolute;
    width: 40%;
    height: 60%;
    opacity: 0;
    top:20%;
    left:30%;
}

.readbox:checked {
    opacity: 10%;
}

@media screen and (min-width: 500pt) {
    article p {
        font-size: 18pt;
    }
    .date { 
        font-size: 12pt;
    }
    .author {
        width: 130pt;
    }
}



footer {
    color:white;
    background-color: black;
    padding: 5%;
}